.work {
    text-align: center;
    height: 100%;
}

.works-header {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    font-size: calc(10px + 2vmin);
    color: white;
}

.react-player{
    position: relative;
}

