.Section03{
    text-align: center;
    color: white;

}

.Section03-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.Section03 h1{
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
}

.Section03 h1 strong{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.img-LOGO:hover{
    animation-direction: alternate-reverse;
    animation: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-delay: 100s;
    filter: grayscale(0%);
}


.img-banner-box img {
    width: 50%; 
    filter: grayscale(100%);
}