.First{
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10%;
}

.First h1{
    margin: 0;
    font-weight: 300;
    font-size: 4.5rem;
    color: white;
}

.First p{
    color: white;
}

.First strong{
    color: white;
    
}

@media screen and (max-width: 768px) {
    .First{
        padding: 5%;
        justify-content: center;
        align-items: center;
    }

    .First h1{
        margin: 0;
        font-weight: 300;
        font-size: 2rem;
        color: white;
    }
}
