.nav-bar {
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1vh;
        display: flex;
        flex-direction: column;
    }

    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        gap: 1rem;
    }
}
