.App {
    text-align: center;
    
}

.banner-box { width: 100%;  overflow: hidden; margin: 0px auto; position: relative; }
.banner-box img {height: 20rem;}
.banner-text { position: absolute; top: 50%; width: 100%; }
.banner-text p { margin-top: -44px; text-align: center; color: #ffffff;}

.home-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.0rem;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.player-wrapper{
    position: relative;
}

.banner_img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .banner-box img { width: 100%; height: 10rem; }
video::-webkit-media-controls-fullscreen-button { display: none !important; }
}