.App {
    text-align: center;
    
}

.banner-box { width: 100%; height: 300px; overflow: hidden;margin: 0px auto; position: relative; }
video { width: 100%; }
.banner-text { position: absolute; top: 50%; width: 100%; }
.banner-text p { margin-top: -44px; text-align: center; color: #ffffff;}

.home-header {
    min-height: 50rem;
    min-width: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.0rem;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.player-wrapper{
    position: relative;
}

.react-player{
    position: relative;;
    top: 0;
    left: 0;
}

@media screen and (max-width: 768px) {
    .banner-box video { display: none;}
    .banner_img { width: 100%; height: 70%; }
video::-webkit-media-controls-fullscreen-button { display: none !important; }
}