.Fourth{
    text-align: start;
}

.Fourth hr{
    width: auto;
}

.left-section{
    width: 100%;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.Fourth h1{
    margin: 0;
    font-weight: 300;
    font-size: 45px;
}

.Fourth h1 strong{
    font-size: 60px;
}

.Fourth h2 strong{
    font-size: 18px;
    font-weight: lighter;
}

.Fourth-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1.0rem;
    text-align: center;
}

.section04_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Section03-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.Section03{
    text-align: center;
    color: white;
}

.Section03 h1{
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
}

.Section03 h1 strong{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

@media screen and (max-width: 768px) {
    .Section03-content{
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        margin-top: 10%;
    }

    .left-section{
        text-align: center;
    }

    .Section03-content h1{
        font-size: 0.5rem;
    }

    .Section03-content h1 strong{
        font-size: 0.1rem;
    }

    .section04_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Fourth-content h2{
        font-size: 1rem;
    }

    .Fourth-content h2 strong{
        font-size: 0.9rem;
    }
}