.Fourth{
    text-align: start;
    
}

.Fourth hr{
    width: auto;
}

.left-section{
    width: 100%;
}

.Fourth h1{
    margin: 0;
    font-weight: 300;
    font-size: 45px;
}

.Fourth h1 strong{
    font-size: 60px;
}

.Fourth h2 strong{
    font-size: 18px;
    font-weight: 300;
}

.Fourth-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1.0rem;
    text-align: center;
}

.section04_flex{
    display: flex;
    flex-direction: row;
    
}