.section01-div{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
    align-items: center;
    gap:  20%;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 5%;
}

.profile-about{
    text-align: end;
}

.l-font{
    font-size: 2.0rem;
    font-weight: bolder;
}

.profile-about strong{
    font-weight: lighter;
}

@media screen and (max-width: 768px) {
    .banner-box img { width: 100%; height: 10rem; }
    /* video::-webkit-media-controls-fullscreen-button { display: none !important; } */

    .section01-div{
        flex-direction: column;
    }

    .profile-about{
        padding-top: 2%;
        text-align: center;
    }

    .profile-text{
        font-size: 0.9rem;
        text-align: left;
    }
}
