.section01-div{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
    align-items: center;
    gap:  10%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 5%;
    font-family: GmarketSansLight;
    
}

.profile-about{
    text-align: end;
    border: 1px solid rgba(0, 0, 0, 0.100);
    padding: 1rem;
}

.insta{
    visibility:initial;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.100);
}

.l-font{
    font-size: 2.0rem;
    font-family: GmarketSansBold;
    font-weight: bolder;
}

.profile-about strong{
    font-weight: lighter;
}

.profile-text{
    font-family: GmarketSansMedium;
}

@media screen and (max-width: 1280px) {
    .banner-box img { width: 100%; height: 10rem; }
    /* video::-webkit-media-controls-fullscreen-button { display: none !important; } */

    .section01-div{
        flex-direction: column;
        width: auto;
    }

    .profile-about{
        padding-top: 2%;
        text-align: center;
    }

    .profile-text{
        font-size: 0.9rem;
        text-align: left;
        font-family: GmarketSansMedium;
    }

    .insta{
        display: none;
        visibility: none;
    }
}

@media screen and (max-width: 720px) {
    .profile-about{
        border: 0;
    }
}